p {
  margin: 0;
}
.smiles {
  display: flex;
}
.smiles button {
  margin: 0 10px;
  cursor: pointer;
}
.smiles p {
  color: red;
  font-weight: bold;
}
.smile {
  width: 50px;
}
.none {
  display: none;
}
